*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
/* Hero Section */
.hero-section {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: 10;
}
.floatingContainer {
  border-radius: 50px;
  background-color: rgba(26, 24, 24, 1);
  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  min-height: 60px;
  max-width: 90%;
  border: 1px solid rgba(255, 255, 255, 1);
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 100px; 
  height: auto;
  border-radius: 50px;
}


.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}
.nav-links li:hover {
  text-decoration: underline;
}

.login-button {
  background-color: rgba(26, 24, 24, 1);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #155a8a;
}

.sign-in-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Hero Content */
.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.join-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #1e7e34;
}
/* Segment Cards */
.segment-section {
  padding: 40px 20px;
  text-align: center;
}

.segment-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.segment-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: auto auto; 
  gap: 20px; 
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .segment-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .segment-container {
    grid-template-columns: repeat(1, 1fr); 
  }
}
.segment-card {
  width: 250px;
  height: 350px;
  perspective: 1000px;
  cursor: pointer;
  margin: 20px;
}

.segment-card .card-front,
.segment-card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 15px;
  transition: transform 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.segment-card .card-front {
  background: #fff;
}

.segment-card .card-image {
  width: 80%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
}

.segment-card .segment-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.segment-card .card-back {
  background: #1e1e1e;
  color: #fff;
  transform: rotateY(180deg);
  padding: 20px;
  text-align: center;
}

.segment-card .card-back .card-title {
  font-size: 20px;
  font-weight: bold;
}

.segment-card .card-back .card-description {
  margin: 10px 0;
  font-size: 16px;
}

.segment-card .card-back .card-link {
  color: #1d72b8;
  text-decoration: none;
  font-weight: bold;
}

.segment-card.flipped .card-front {
  transform: rotateY(180deg);
}

.segment-card.flipped .card-back {
  transform: rotateY(360deg);
}






